
* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a86e8; 
  padding: 20px;
}

header h1 {
  color: #fff; 
  font-size: 36px;
}

