body, ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

main {
  padding: 20px;
  text-align: center; /* Center align the sections */
}

section {
  margin-bottom: 20px;
  display: inline-block; /* Display the sections as inline blocks */
  text-align: left; /* Reset text alignment for section content */
  width: 100%; /* Set width to 100% to make it responsive */
}




