* {
  margin: 0;
  padding: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #d3b17d;
  color: #fff;
  padding: 12px;
}

td,
a {
  background-color: #f2eadb;
  padding: 12px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

td:hover,
a:hover {
  background-color: #e4d5b5;
}

td + td {
  margin-left: 8px;
}

a {
  display: inline-block;
  background-color: #007bff;
  padding: 12px;
  border: 1px solid #007bff;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}
